<div id="carousel-cocktails" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-cocktails" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-cocktails" data-slide-to="1"></li>
    <li data-target="#carousel-cocktails" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to cocktail_path(Cocktail.first.id) do %>
        <%= cl_image_tag Cocktail.first.photo, height:620, width:1400,crop:"fill", unless Cocktail.first.photo.blank? %>
        <div class="carousel-caption"><%= Cocktail.first.name %></div>
      <% end %>
    </div>
    <% @cocktails[1..2].each do |cocktail| %>
    <div class="item">
      <%= link_to cocktail_path(cocktail.id) do %>
        <%= cl_image_tag cocktail.photo, height:620, width:1400,crop:"fill", unless cocktail.photo.blank? %>
        <div class="carousel-caption"> <%= cocktail.name %></div>
      <% end %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-cocktails" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-cocktails" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
