<div class="container-fluid">
  <div class="row infos">
    <div class="col-xs-8">
      <div class="cocktail-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 620, width: 1400, crop: :fill %>')">
        <h1><%= @cocktail.name %></h1>
      </div>
    </div>
    <div class="col-xs-3 doses">
      <div class="row">
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li>
          <h4><%= dose.description %> - <%= dose.ingredient.name %></h4>
          <div class="dose-icons">
          <%= link_to "<i class=\"fas fa-pencil-alt\"></i>".html_safe, new_or_edit_dose_path(@cocktail.id, dose.id) %>
          <%= link_to "<i class=\"far fa-trash-alt\"></i>".html_safe, dose_path(dose.id), method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        </li>
        <% end %>
      </ul>
      </div>
      <div class="row">
        <%= render "doses/form" %>
      </div>
    </div>
  </div>




</div>


